/* src/Components/CityList.css */
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)); /* Responsive grid with cards */
  gap: 20px; /* Space between the cards */
  width: 100%;
  max-width: 1200px; /* Max width for card container */
  margin: 20px auto; /* Margin to separate from search bar */
  justify-items: center; /* Center grid items */
}

