/* src/Components/Header.css */
body {
  font-family: 'Cinzel', serif;
}

.header {
  color: white; 
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background 0.3s ease; /* Smooth transition for background change */
}

.header.transparent {
  background: transparent; /* Transparent background */
}


.header-logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.header-nav {
  display: flex;
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.3rem;
  transition: color 0.3s;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.header-nav a:hover {
  color: #f76c6c;
}

.header-toggle {
  display: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .header-nav a {
    margin: 10px 0;
  }

  .header-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
  }
}
