/* Search container styles */
.search-container {
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    
  }
  
  /* Search input field styles */
  .search-input {
    padding: 12px 20px; /* Added padding for a larger input */
    border: 1px solid #ccc; /* Light border for input */
    border-radius: 25px;
    margin-right: 10px; /* Space between input and button */
    font-size: 1rem;
    width: 100%; /* Full width input */
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Input focus effect */
  .search-input:focus {
    border-color: #f76c6c;
    box-shadow: 0 0 10px rgba(247, 108, 108, 0.3);
  }
  
  