.city-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)); /* Responsive grid with cards */
    margin: 180px; /* Adds space between the cards */
    justify-content: center; /* Centers the grid items horizontally */
  }
  
  .card {
    /* Additional card styling can go here */
  }
  